DEBUG=0
SECRET_KEY='django-insecure-yr21dtc&7f)5s+d%$ok28l$jn)fghlsd4ux&5-jkwsh#ma=tzg'
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DB_ENGINE=django.db.backends.postgresql
DB_NAME=django_prod
DB_USER=user
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432
DATABASE=postgres
